<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
        </ion-buttons>
        <ion-title>Mis Tickets</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [navPush]="nuevoticketPage">
              Nuevo Ticket
                <ion-icon name="create"></ion-icon>
              </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <div padding>
    <ion-toolbar>
      <ion-buttons start>
      </ion-buttons>
      <ion-segment [(ngModel)]="Tickets">
        <ion-segment-button value="new"  >Nuevos</ion-segment-button>
        <ion-segment-button value="wait">En Revision</ion-segment-button>
        <ion-segment-button value="Reviewed">Revisados</ion-segment-button>
        <ion-segment-button value="finish">Completos</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
  <div [ngSwitch]="Tickets">
      <ion-list *ngSwitchCase="'new'">
        <ion-item>
            <ion-card>
                <ion-card-header >
                  Nuevo Ticket
                </ion-card-header>
                <ion-card-content  (ngModel)="form1" >
                  informacion del nuevo ticket
                <!-- *ngFor="let datoshtml  of datos" -->
                <!-- {{datoshtml.descripcion_ticket}}  -->
                </ion-card-content >
                <ion-item>
                 
                </ion-item>
                <ion-list   >
                 
               </ion-list>
              </ion-card>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'wait'">
          <ion-item>
              <ion-card>
                  <ion-card-header>
                    Ticket en revision
                  </ion-card-header>
                  <ion-card-content>
                    Estado de la revision del ticket
                  </ion-card-content>
                 <ion-item *ngFor="let aldo  of datos">  
                   <h2 >Nombre: {{aldo.nombre_ticket}} </h2> 
                 <h2>Descripcion:{{aldo.descripcion_ticket}}</h2>
                 <h2>Estatus:{{aldo.estatus_ticket}}</h2>
                </ion-item>

                </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Reviewed'">
            <ion-item>
                <ion-card>
                    <ion-card-header>
                      Ticket revisado y aprobado
                    </ion-card-header>
                    <ion-card-content>
                      Informacion del ticket
                    </ion-card-content>
                    <ion-item *ngFor="let rev  of datos_revisados">  
                        <h2 >Nombre: {{rev.nombre_ticket}} </h2> 
                      <h2>Descripcion:{{rev.descripcion_ticket}}</h2>
                      <h2>Estatus:{{rev.estatus_ticket}}</h2>
                     </ion-item>
                  </ion-card>
            </ion-item>
          </ion-list>
        <ion-list *ngSwitchCase="'finish'">
            <ion-item>
                <ion-card>
                    <ion-card-header>
                      Ticket finalizado
                    </ion-card-header>
                    <ion-card-content>
                      Informacion de la terminacion del ticket
                    </ion-card-content>
                  </ion-card>
            </ion-item>
          </ion-list>
      </div>
      </ion-content>