<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
        </ion-buttons>
        <ion-title>Mis Tickets</ion-title>
        <ion-buttons end>
          <!--[navPush]="nuevoticketPage"-->
            <button ion-button icon-only (click)="nuevoticket()" >
              Nuevo Ticket
                <ion-icon name="create"></ion-icon>
              </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <div padding>
    <ion-toolbar>
      <ion-buttons start>
      </ion-buttons>
      <ion-segment [(ngModel)]="Tickets">
        <ion-segment-button value="new" (click)="nuevos()" >Nuevos</ion-segment-button>
        <ion-segment-button value="wait">En Revision</ion-segment-button>
        <ion-segment-button value="Reviewed"  (click)="revisadosc()">Revisados</ion-segment-button>
        <ion-segment-button value="Reviewdef"  (click)="revisados()">Revisados "Def"</ion-segment-button>
        <ion-segment-button value="finish" (click)="completos()">Completos</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
  <div [ngSwitch]="Tickets">
      <ion-list *ngSwitchCase="'new'">
        <ion-item>
            <ion-card>
                <ion-card-header >
                  Nuevo Ticket
                </ion-card-header>
                <ion-card-content>
                  informacion del nuevo ticket
                <!-- *ngFor="let datoshtml  of datos" -->
                <!-- {{datoshtml.descripcion_ticket}}  -->
                </ion-card-content >
                <ion-item *ngFor="let newdata  of nuevosdata">  
                  <h2 >Nombre: {{newdata.nombre_ticket}} </h2> 
                <h2>Descripcion:{{newdata.descripcion_ticket}}</h2>
                <h2>Estatus:{{newdata.estatus_ticket}}</h2>
               </ion-item>
                
                <ion-list>
                 
               </ion-list>
              </ion-card>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'wait'">
          <ion-item>
              <ion-card>
                  <ion-card-header>
                    Ticket en revision
                  </ion-card-header>
                  <ion-card-content>
                    Estado de la revision del ticket
                  </ion-card-content>
                 <ion-item *ngFor="let aldo  of datos">  
                   <h2 >Nombre: {{aldo.nombre_ticket}} </h2> 
                 <h2>Descripcion:{{aldo.descripcion_ticket}}</h2>
                 <h2>Estatus:{{aldo.estatus_ticket}}</h2>
                </ion-item>

                </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Reviewed'">
            <ion-item>
                <ion-card>
                    <ion-card-header>
                      Ticket revisado y aprobado
                    </ion-card-header>
                    <ion-card-content>
                      Informacion del ticket
                    </ion-card-content>
                    <ion-item *ngFor="let rev  of datos_revisados">  
                        <h2 >Nombre: {{rev.nombre_ticket}} </h2> 
                      <h2>Descripcion:{{rev.descripcion_ticket}}</h2>
                      <h2>Estatus:{{rev.estatus_ticket}}</h2>
                      <button ion-button color="secondary" block (click)="doPrompt2(rev)">Aceptar costo </button>
                     </ion-item>
                  </ion-card>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'Reviewdef'">
            <ion-item>
                <ion-card>
                    <ion-card-header >
                      Tickets aceptados
                    </ion-card-header>
                    <ion-card-content>
                      informacion del nuevo ticket
                    <!-- *ngFor="let datoshtml  of datos" -->
                    <!-- {{datoshtml.descripcion_ticket}}  -->
                    </ion-card-content >
                    <ion-item *ngFor="let newdata  of datos_revisados">  
                      <h2 >Nombre: {{newdata.nombre_ticket}} </h2> 
                    <h2>Descripcion:{{newdata.descripcion_ticket}}</h2>
                    <h2>Estatus:{{newdata.estatus_ticket}}</h2>
                   </ion-item>
                    
                    <ion-list   >
                     
                   </ion-list>
                  </ion-card>
            </ion-item>
          </ion-list>
        <ion-list *ngSwitchCase="'finish'">
            <ion-item>
                <ion-card>
                    <ion-card-header>
                      Ticket finalizado
                    </ion-card-header>
                    <ion-card-content>
                      Informacion de la terminacion del ticket
                    </ion-card-content>
                    <ion-item *ngFor="let terminado  of datos_terminados">  
                      <h2 >Nombre: {{terminado.nombre_ticket}} </h2> 
                    <h2>Descripcion:{{terminado.descripcion_ticket}}</h2>
                    <h2>Estatus:{{terminado.estatus_ticket}}</h2>
                   </ion-item>      
                  </ion-card>
            </ion-item>
          </ion-list>
      </div>
      </ion-content>