page-login {
    .getstart { background-image: url();


//background-image: url('../assets/imgs/trezg.png');
// background: url('../../img/getstart.png');
//background-repeat: no-repeat;
//background-size: contain;
//border: 1px solid #07e5d8;
//border-radius: 50%;
//box-shadow: 0 0 2px #000;
//max-width: auto;
//max-height: auto;
//align-content: center;
//opacity: 0.5;
//filter: alpha(opacity=50); 
background-color: #4e8ef7;

.tablogin{
    //background-color: transparent;
background-attachment: fixed;
background-size: 100vw 100vh;
.imgheaderlog{

color: #4e8ef7;
.titlelog{
    animation: infinite;
}

    }
}
}
}

