<ion-header>
  <ion-navbar>
    <ion-title>Tickets Administrador</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="newuser()"[navPush]="NuserPage">
          Nuevo usuario
            <ion-icon name="createuser"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding>
<ion-toolbar>
  <ion-buttons start>
  </ion-buttons>
  <ion-segment [(ngModel)]="ticketsadmn">
    <ion-segment-button value="newadmn" (click)="nuevosp()" >Nuevos "PreDef"</ion-segment-button>
    <ion-segment-button value="waitadmn" (click)="nuevoso()">Nuevos "Otros"</ion-segment-button>
    <ion-segment-button value="Reviewedadmn" (click)="en_revision()" >Revisados</ion-segment-button>
    <ion-segment-button value="finishadmn" (click)="completos()">Completos</ion-segment-button>
  </ion-segment>
</ion-toolbar>
</div>
<div [ngSwitch]="ticketsadmn">
  <ion-list *ngSwitchCase="'newadmn'">
    <ion-item>
        <ion-card>
            <ion-card-header >
              Nuevo Ticket
            </ion-card-header>
            <ion-card-content   >
              informacion del nuevo ticket
              <ion-item *ngFor='let new of nuevosd' >
                <h2 >Nombre: {{new.nombre_ticket}} </h2> 
                <h2>Descripcion:{{new.descripcion_ticket}}</h2>
                <h2>Estatus:{{new.estatus_ticket}}</h2>
                <button ion-button color="secondary" block (click)="doPrompt(new)">Pasar a ticket revisado</button>
               </ion-item>
            <!-- *ngFor="let datoshtml  of datos" -->
            <!-- {{datoshtml.descripcion_ticket}}  -->
            </ion-card-content>
            
            
            <ion-list>
           </ion-list>
          </ion-card>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'waitadmn'">
      <ion-item>
          <ion-card>
              <ion-card-header>
                Ticket en revision
              </ion-card-header>
              <ion-card-content>
                Estado de la revision del ticket
              </ion-card-content>
              <ion-item *ngFor='let ot of otros' >
                <h2 >Nombre: {{ot.nombre_ticket}} </h2> 
                <h2>Descripcion:{{ot.descripcion_ticket}}</h2>
                <h2>Estatus:{{ot.estatus_ticket}}</h2>
                <button ion-button color="secondary" block (click)="doPrompt3(ot)">Pasar a ticket revisado</button>
               </ion-item>
            </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Reviewedadmn'">
      <ion-item>
          <ion-card>
              <ion-card-header>
                Ticket revisados
              </ion-card-header>
              <ion-card-content>
                Estado de la revision del ticket
              </ion-card-content>
              <ion-item *ngFor='let aldo of datos' >
                <h2 >Nombre: {{aldo.nombre_ticket}} </h2> 
                <h2>Descripcion:{{aldo.descripcion_ticket}}</h2>
                <h2>Estatus:{{aldo.estatus_ticket}}</h2>
                <button ion-button color="secondary" block (click)="doPrompt2(aldo)">Pasar a ticket completado </button>
               </ion-item>
            </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'finishadmn'">
        <ion-item>
            <ion-card>
                <ion-card-header>
                  Ticket finalizado f
                </ion-card-header>
                <ion-card-content>
                  Informacion de la terminacion del ticket 
                </ion-card-content>
                <ion-item *ngFor='let terminados of nuevosc' >
                  <h2 >Nombre: {{terminados.nombre_ticket}} </h2> 
                  <h2>Descripcion:{{terminados.descripcion_ticket}}</h2>
                  <h2>Estatus:{{terminados.estatus_ticket}}</h2>
                </ion-item>
              </ion-card>
        </ion-item>
      </ion-list>
  </div>
  </ion-content>