<!--
  Generated template for the TicketsadmnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ticketsadmn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
<ion-toolbar>
  <ion-buttons start>
  </ion-buttons>
  <ion-segment [(ngModel)]="Tickets">
    <ion-segment-button value="new" (click)="nuevos()" >Nuevos</ion-segment-button>
    <ion-segment-button value="wait">En Revision</ion-segment-button>
    <ion-segment-button value="Reviewed">Revisados</ion-segment-button>
    <ion-segment-button value="finish">Completos</ion-segment-button>
  </ion-segment>
</ion-toolbar>
</div>
<div [ngSwitch]="Tickets">
  <ion-list *ngSwitchCase="'new'">
    <ion-item>
        <ion-card>
            <ion-card-header *ngFor="let aldo of datos">
              Nuevo Ticket
            </ion-card-header>
            <ion-card-content  (ngModel)="form1" >
              informacion del nuevo ticket
            <!-- *ngFor="let datoshtml  of datos" -->
            <!-- {{datoshtml.descripcion_ticket}}  -->
            </ion-card-content>
            
            <ion-item *ngFor='let aldo of datos' >
             <h2 >Nombre: {{aldo.nombre_ticket}} </h2> 
             <h2>Descripcion:{{aldo.descripcion_ticket}}</h2>
             <h2>Estatus:{{aldo.estatus_ticket}}</h2>
             <button class = "button" ng-click = "showAlert()">Add Popup Show</button>    
            </ion-item>
            <ion-list>
           </ion-list>
          </ion-card>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'wait'">
      <ion-item>
          <ion-card>
              <ion-card-header>
                Ticket en revision
              </ion-card-header>
              <ion-card-content>
                Estado de la revision del ticket
              </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'finish'">
        <ion-item>
            <ion-card>
                <ion-card-header>
                  Ticket finalizado
                </ion-card-header>
                <ion-card-content>
                  Informacion de la terminacion del ticket
                </ion-card-content>
              </ion-card>
        </ion-item>
      </ion-list>
  </div>
  </ion-content>