<!--
  Generated template for the TicketsadmnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ticketsadmn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
<ion-toolbar>
  <ion-buttons start>
  </ion-buttons>
  <ion-segment [(ngModel)]="ticketsadmn">
    <ion-segment-button value="newadmn" (click)="nuevos()" >Nuevos</ion-segment-button>
    <ion-segment-button value="waitadmn">En Revision</ion-segment-button>
    <ion-segment-button value="Reviewedadmn" (click)="en_revision()" >Revisados</ion-segment-button>
    <ion-segment-button value="finishadmn" (click)="completos()">Completos</ion-segment-button>
  </ion-segment>
</ion-toolbar>
</div>
<div [ngSwitch]="ticketsadmn">
  <ion-list *ngSwitchCase="'newadmn'">
    <ion-item>
        <ion-card>
            <ion-card-header >
              Nuevo Ticket
            </ion-card-header>
            <ion-card-content   >
              informacion del nuevo ticket
              <ion-item *ngFor='let new of nuevosd' >
                <h2 >Nombre: {{new.nombre_ticket}} </h2> 
                <h2>Descripcion:{{new.descripcion_ticket}}</h2>
                <h2>Estatus:{{new.estatus_ticket}}</h2>
                <button ion-button color="secondary" block (click)="doPrompt(new)">Show Prompt Alert</button>
               </ion-item>
            <!-- *ngFor="let datoshtml  of datos" -->
            <!-- {{datoshtml.descripcion_ticket}}  -->
            </ion-card-content>
            
            
            <ion-list>
           </ion-list>
          </ion-card>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'wait'">
      <ion-item>
          <ion-card>
              <ion-card-header>
                Ticket en revision
              </ion-card-header>
              <ion-card-content>
                Estado de la revision del ticket
              </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Reviewedadmn'">
      <ion-item>
          <ion-card>
              <ion-card-header>
                Ticket revisados
              </ion-card-header>
              <ion-card-content>
                Estado de la revision del ticket
              </ion-card-content>
              <ion-item *ngFor='let aldo of datos' >
                <h2 >Nombre: {{aldo.nombre_ticket}} </h2> 
                <h2>Descripcion:{{aldo.descripcion_ticket}}</h2>
                <h2>Estatus:{{aldo.estatus_ticket}}</h2>
                <button ion-button color="secondary" block (click)="doPrompt2(aldo)">Show Prompt Alert</button>
               </ion-item>
            </ion-card>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'finishadmn'">
        <ion-item>
            <ion-card>
                <ion-card-header>
                  Ticket finalizado f
                </ion-card-header>
                <ion-card-content>
                  Informacion de la terminacion del ticket 
                </ion-card-content>
                <ion-item *ngFor='let terminados of nuevosc' >
                  <h2 >Nombre: {{terminados.nombre_ticket}} </h2> 
                  <h2>Descripcion:{{terminados.descripcion_ticket}}</h2>
                  <h2>Estatus:{{terminados.estatus_ticket}}</h2>
                </ion-item>
              </ion-card>
        </ion-item>
      </ion-list>
  </div>
  </ion-content>